@import "tailwindcss";

@theme {
  --color-primary: #121212;
  --color-background-light: #ffffff;
  --color-background-dark: #0a0a0a;
  --color-text-primary: #111111;
  --color-text-secondary: #666666;
  --spacing-18: 4.5rem;
  --spacing-22: 5.5rem;
  --spacing-30: 7.5rem;
  --font-sans: "Public Sans", sans-serif;
  --font-display: "Public Sans", sans-serif;
}

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background-light);
    color: var(--color-text-primary);
    transition: color 300ms, background-color 300ms;
  }
}

.dark {
  --color-primary: #ffffff;
  --color-background-light: #0a0a0a;
  --color-background-dark: #121212;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a3a3a3;
}

.dark body {
  background-color: var(--color-background-dark);
  color: var(--color-text-primary);
}

@utility text-balance {
  text-wrap: balance;
}
